*.o
*.dSYM
*.csv
*.out
*.png
mnist/
data/
caffe/
grasp/
opencv/
convnet/
decaf/
submission/
cfg/
Private/
darknet
release/
models/

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
*.deps
*.sdf
*.suo
*.pdb
*.user
*.dll
*.exe
*.ilk
*.lib
*.exp
*.opensdf
scripts/.ipynb_checkpoints/
*.obj
*.cache
*.tlog
*.idb
*.log
*.list
*.weights
